<section class="order about">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Лучшая </span>итальянская пиццерия
      </div>
      <div class="order-text-message">
        <div>Хватит есть непонятно что. Пора попробовать настоящую итальянскую классику. Мы — команда пиццайоло, которая переехала в ваш город, чтобы спасти вас от скучных ужинов. </div>
        <br>
        <div>Ручная лепка, итальянские дрожжи, томатный соус по рецепту бабушки Джованни и печь из Неаполя. Мы не используем скалку, потому что тесто должно дышать. Результат — тот самый желанный бортик «cornicione», высокий и пышный.</div>
        <br>
        <div>Присоединяйтесь к семье любителей настоящей пиццы!</div>
      </div>
    </div>
    <div class="about-image wow animate__backInRight">
      <img src="../../../../assets/images/pizza_big.png" alt="pizza">
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
