<section class="order" id="order">
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Хватит думать!</span> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <form class="order-form" id="order-form">
      <input type="text" class="order-input" coolInput id="product-input"
             [coolInputDefaultBgColor]="'gray'"
             [coolInputFocusBgColor]="'red'"
             name="product" placeholder="Пицца" [(ngModel)]="formValues.productTitle">
      <input type="text" class="order-input" id="address-input" name="address" placeholder="Адрес доставки" [(ngModel)]="formValues.address">
      <input type="text" class="order-input" coolInput id="phone-input" name="phone" placeholder="Телефон +7 (999) 999-99-99" [(ngModel)]="formValues.phone">
      <button class="btn" id="create-order" (click)="createOrder()">Оформить заказ</button>
    </form>
    <div class="order-image wow animate__backInRight">
      <img src="../../../assets/images/pizzzzza.png" alt="pizza">
    </div>
  </div>
</section>
